html,
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a25;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.loader-gray-color {
    position: relative;
    height: 310px;
    width: 800px;
}

.loader-gray {
    position: absolute;
    left: 0;
    top: 0;
    height: 310px;
    width: 800px;
    background: url(img/Dragon_Ball_Super.png);
    filter: grayscale(100%);
}

.loader-color {
    position: absolute;
    left: 0;
    top: 0;
    height: 310px;
    -webkit-animation: gray-to-color 10s ease-in-out infinite;
    animation: gray-to-color 10s ease-in-out infinite;
}

.loader-color-img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
}

@-webkit-keyframes gray-to-color {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes gray-to-color {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.display-topmiddle {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 15%);
    -ms-transform: translate(-50%, 15%);
    color: white;
    text-align: center;
    align-items: center;
}

.chango {
    font-family: 'Chango', cursive;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
    text-size-adjust: 18px;
}