html {
    overflow: hidden;
    height: 100%;
    background: #191919;
    width: 100%;
}

.a-up {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    margin: 50px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 22px;
    opacity: 0.5; 
  }
  .a-up.lift { 
    xborder: 1px solid whitesmoke;
    transition: all 700ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */;
  }
  
  .a-up.lift:after {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    margin: 0 auto;
    /* and empty box makes a shadow */
    height: 2px; 
    width: 30%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
    transition: all 700ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  
  .a-up.lift:hover {
    color: white;
    transform: translateY(-5px);
  }
  .a-up.lift:hover:after {
    bottom: -5px;
    width: 40%;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  }
   

  

#canvas {
    background: url('img/space_sanxvu.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#canvas.playing {
    cursor: url('img/aim_red_j9cyuq.png') 17.5 17.5,auto !important;
}

.full-screen {
    position: fixed;
    width: 35px;
    height: 35px;
    background: url('img/full-screen_szgnei.png') no-repeat;
    z-index: 10;
    display: block;
    right: 10px;
    bottom: 10px;
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0
}
